ANTHROPIC_API_KEY=sk..

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_...
LANGSMITH_PROJECT="holded-agent"

BRAVE_SEARCH_API_KEY=BS..

SQLITE_PATH=/app/data/checkpoints.sqlite